              <span class="entry-meta hidden" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        				<span itemprop="name">Scarlet Begonias Consulting</span>
        				<span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
          				<span itemprop="url">{site_url}images/uploads/favicon-single-initial.png</span>
          				<span itemprop="width">32</span>
          				<span itemprop="height">32</span>
        				</span>
              </span> 
