 						<div class="entry-meta clearfix"> 
              <div class="pull-left posted-on">
              	<time class="entry-date published" date="{edit_date}">Published {edit_date:relative}</time>
              </div>
              <div class="entry-meta pull-right">
              	Filed in:&nbsp;{categories backspace="2"}<a {if category_description}alt="{category_description}" title="{category_description}"{/if} href="{path='portfolio/index'}">{category_name}</a>, {/categories}
              </div>
						</div> 
